<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<%= link_to(edit_article_path(@article)) do %>
  <i class="fa fa-pencil-square"></i>
<% end %>
<%= link_to(articles_path) do %>
  <i class="fa fa-arrow-left" aria-hidden="true"></i>
<% end %>
<%= link_to(@article, method: :delete, data: { confirm: 'Are you sure?' } ) do %>
  <i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>
